@import url(https://fonts.googleapis.com/css?family=Brygada+1918:400,500,600,700&display=swap);


@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('※'),
    url('../fonts/Roboto-Regular.eot'),
    url('../fonts/Roboto-Regular.eot#iefix') format('embedded-opentype')
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.otf') format('opentype'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: 'URW Geometric Thin';
  src:  url('../fonts/URWGeometric-Thin.eot');
  src:  url('../fonts/URWGeometric-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/URWGeometric-Thin.woff2') format('woff2'),
  font-weight: thin;
  font-style: normal;
}


@font-face {
  font-family: 'URW Geometric Light';
  src:  url('../fonts/URWGeometric-Light.eot');
  src:  url('../fonts/URWGeometric-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/URWGeometric-Light.woff2') format('woff2'),
  font-weight: light;
  font-style: normal;
}


@font-face {
  font-family: 'URW Geometric Regular';
  src:  url('../fonts/URWGeometric-Regular.eot');
  src:  url('../fonts/URWGeometric-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/URWGeometric-Regular.woff2') format('woff2'),
  font-weight: 400;
  font-style: normal;
}

.meuntitle{
  font-size: 1rem !important;
  font-family: 'URW Geometric Regular' !important;
}

.btn {
  border-width: 1px;
}
body {
  font-family: 'URW Geometric Regular', 'Noto Sans KR', 'sans-serif';
}
.display-1 {
  font-family: 'URW Geometric Regular';
  font-size: 8.75rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 10.9375rem;
}
.display-2 {
  font-family: 'URW Geometric Regular';
  font-size: 4.4rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 5.5rem;
}
.display-4 {
  font-family: 'URW Geometric Regular', 'Noto Sans KR', 'sans-serif';;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.125rem;
}
.display-5 {
  font-family: 'URW Geometric Regular';
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.display-7-1 {
  font-family: 'URW Geometric Regular';
  font-size: 2rem;
  line-height: 1.5;
}


.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}

@media (max-width: 992px) {
  .display-1 {
    font-size: 7rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 6.125rem;
    font-size: calc( 3.7124999999999995rem + (8.75 - 3.7124999999999995) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (3.7124999999999995rem + (8.75 - 3.7124999999999995) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.52rem;
    font-size: calc( 2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.72rem;
    font-size: calc( 0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.5rem 0.75rem;
  border-radius: 0px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #4f2e53 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #4f2e53 !important;
  border-color: #4f2e53 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #1a0f1b !important;
  border-color: #1a0f1b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1a0f1b !important;
  border-color: #1a0f1b !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #4f2e53;
  color: #4f2e53;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #1a0f1b !important;
  background-color: transparent!important;
  border-color: #1a0f1b !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4f2e53 !important;
  border-color: #4f2e53 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff6666;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: #ff0f0f !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #4f2e53 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #110a11 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #4f2e53;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4f2e53;
  border-color: #4f2e53;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #f40025;
}

.green a:hover {
  color: #7fc600 !important;
}


.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c49ec9;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Brygada 1918', serif;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.125rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #4f2e53 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Brygada 1918', serif;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.125rem;
}
blockquote {
  border-color: #4f2e53;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #4f2e53;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #4f2e53;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #4f2e53;
  border-bottom-color: #4f2e53;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #4f2e53 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%234f2e53' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-srsaEHjdIL .b-shadow {
  border-bottom: 1px solid black;
}
.cid-srsaEHjdIL .nav-item {
  list-style: none;
  float: left;
}
.cid-srsaEHjdIL .nav-item:focus,
.cid-srsaEHjdIL .nav-link:focus {
  outline: none;
}
.cid-srsaEHjdIL .nav-dropdown .dropdown-menu {
  padding-top: 0;
}
.cid-srsaEHjdIL .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-srsaEHjdIL .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-srsaEHjdIL .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-srsaEHjdIL .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-srsaEHjdIL .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0em 0em !important;
  transition: none;
  margin: 0 !important;
}
.cid-srsaEHjdIL .navbar {
  min-height: 77px;
  transition: all 0.3s;
  flex-direction: row !important;
  background: #ffffff;
}
.cid-srsaEHjdIL .navbar.opened {
  transition: all 0.3s;
  background: #ffffff !important;
}
.cid-srsaEHjdIL .navbar .dropdown-item {
  padding: 0.235rem 1.5rem;
}
.cid-srsaEHjdIL .navbar .navbar-collapse {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
  padding-top: 0.55rem;
  padding-bottom: 3rem;
  z-index: 1;
}
.cid-srsaEHjdIL .navbar .navbar-collapse > .container {
  height: 100%;
}
.cid-srsaEHjdIL .navbar .navbar-collapse.show,
.cid-srsaEHjdIL .navbar .navbar-collapse.collapsing {
  display: -webkit-flex;
}
.cid-srsaEHjdIL .navbar .navbar-collapse .img-column img {
  width: 100%;
}
.cid-srsaEHjdIL .navbar .navbar-collapse .text-column {
  overflow: auto;
  max-height: calc(100vh - 7rem);
}
.cid-srsaEHjdIL .navbar .navbar-collapse .contact-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.cid-srsaEHjdIL .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-srsaEHjdIL .navbar.collapsed .dropdown-menu {
  text-align: inherit;
  background: transparent !important;
}
.cid-srsaEHjdIL .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-srsaEHjdIL .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-srsaEHjdIL .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
  margin-left: 0.25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-srsaEHjdIL .navbar.collapsed ul.navbar-nav {
  word-break: break-word;
}
.cid-srsaEHjdIL .navbar.collapsed .dropdown-menu .dropdown-item {
  text-align: inherit;
}
.cid-srsaEHjdIL .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.cid-srsaEHjdIL .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-srsaEHjdIL .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
  width: auto;
}
.cid-srsaEHjdIL .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-srsaEHjdIL .navbar-brand {
  min-height: 61px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-srsaEHjdIL .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-srsaEHjdIL .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-srsaEHjdIL .navbar-brand .navbar-logo a img {
  width: auto;
}
.cid-srsaEHjdIL .dropdown-item.active,
.cid-srsaEHjdIL .dropdown-item:active {
  background-color: transparent;
}
.cid-srsaEHjdIL .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-srsaEHjdIL .nav-dropdown .link {
  margin: 0.2em 0em;
}
.cid-srsaEHjdIL .nav-dropdown .link.dropdown-toggle {
  margin: 0;
}
.cid-srsaEHjdIL .nav-dropdown .link.dropdown-toggle[aria-expanded='true'] {
  margin: 0em 0em;
  padding: 0.2em 0em;
}
.cid-srsaEHjdIL .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-srsaEHjdIL .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-srsaEHjdIL .socicon {
  transition: color 0.3s;
}
.cid-srsaEHjdIL .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-srsaEHjdIL ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-srsaEHjdIL .navbar-buttons {
  text-align: inherit;
}
.cid-srsaEHjdIL button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-srsaEHjdIL button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-srsaEHjdIL button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-srsaEHjdIL button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-srsaEHjdIL button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-srsaEHjdIL button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-srsaEHjdIL nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-srsaEHjdIL nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-srsaEHjdIL nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-srsaEHjdIL nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-srsaEHjdIL .navbar-dropdown {
  padding: 0.5rem 1rem;
  position: fixed;
}
.cid-srsaEHjdIL .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-srsaEHjdIL .icons-menu {
  text-align: inherit;
  margin-right: 20px;
}
.cid-srsaEHjdIL .icons-menu span {
  font-size: 20px;
  color: #232323;
}
.cid-srsaEHjdIL .nav-link:hover,
.cid-srsaEHjdIL .dropdown-item:hover,
.cid-srsaEHjdIL .icons-menu .mbr-iconfont:hover {
  color: #e0e0e0 !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-srsaEHjdIL .navbar {
    height: 77px;
  }
  .cid-srsaEHjdIL .navbar.opened {
    height: auto;
  }
}
@media (max-width: 767px) {
  .cid-srsaEHjdIL .navbar-collapse .img-column {
    display: none;
  }
  .cid-srsaEHjdIL .icons-menu,
  .cid-srsaEHjdIL .navbar-buttons,
  .cid-srsaEHjdIL .contact-block,
  .cid-srsaEHjdIL .text-column {
    text-align: center !important;
  }
}
.cid-srsaEHjdIL h6.mbr-fonts-style {
  padding: 0;
}
.cid-srsaEHjdIL .collapsing {
  transition: 0s;
}
.cid-srsaEHjdIL .flex-container {
  height: 100%;
  width: 100%;
}
@media (min-width: 769px) {
  .cid-srsaEHjdIL .flex-container {
    display: flex;
    flex-direction: column;
  }
  .cid-srsaEHjdIL .flex-row {
    /*display: flex;*/
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
  }
  .cid-srsaEHjdIL .flex-row.low-row {
    align-items: flex-end;
    flex: 1 1 auto;
  }
  .cid-srsaEHjdIL .flex-card {
    display: flex;
    /*flex-direction: column;*/
  }
  .cid-srsaEHjdIL .flex-card h6 {
    padding: .5rem 1rem;
  }

.cid-srsaEHjdIL .flex-card h6 {
    padding: .5rem 1rem;
  }


  .cid-srsaEHjdIL .contact-block {
    margin-left: 20px;
  }
  .cid-srsaEHjdIL .contact-block ul li {
    text-align: left;
  }
  .cid-srsaEHjdIL ul.col {
    padding: 0;
  }
  .cid-srsaEHjdIL .flex-row.low-row {
    justify-content: space-between;
  }
}
.cid-srsaEHjdIL .icons-menu,
.cid-srsaEHjdIL .navbar-buttons,
.cid-srsaEHjdIL .contact-block,
.cid-srsaEHjdIL .text-column {
  color: #000000;
}
.cid-srsaEHjdIL .icons-menu a span {
  color: #000000;
}
.cid-srsaEHjdIL H6 {
  color: #232323;
  text-align: left;
}
.cid-srqNk7hTb3 {
  padding-top: 4.9rem;
  /*padding-bottom: 3rem;*/
 
  background-repeat: repeat;
  background-size: 30px 30px;
}
@media (max-width: 1000px) {
  .cid-srqNk7hTb3 {
    padding-top: 4.5rem;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .cid-srqNk7hTb3 {
    padding-top: 2.7rem;
    padding-bottom: 0.9rem;
  }
}
.cid-srqNk7hTb3 .f-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 992px) {
  .cid-srqNk7hTb3 .f-row {
    flex-direction: row;
  }
}
.cid-srqNk7hTb3 .f-item {
  flex: 1 1 100%;
}
@media (min-width: 992px) {
  .cid-srqNk7hTb3 .f-item {
    flex: 1 1 50%;
  }
}
.cid-srqNk7hTb3 .image-wrapper {
  height: 100%;
}
@media (min-width: 992px) {
  .cid-srqNk7hTb3 .image-wrapper {
    min-height: 650px;
  }
}
.cid-srqNk7hTb3 .image-wrapper img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}
.cid-srqNk7hTb3 .text-wrapper {
  width: 100%;
  background: white;
  padding: 1rem 2rem;
}
@media (min-width: 992px) {
  .cid-srqNk7hTb3 .text-wrapper {
    /*padding: 3rem;
    transform: translate(-12%, -5rem);*/
  }
}
@media (min-width: 1200px) {
  .cid-srqNk7hTb3 .text-wrapper {
    padding: 2rem 2rem;
  }
}
.cid-srqNmgyIG1 {
  padding-top: 0rem;
  padding-bottom: 3rem;

  background-repeat: repeat;
  background-size: 30px 30px;
}
@media (max-width: 1000px) {
  .cid-srqNmgyIG1 {
    padding-top: 0rem;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .cid-srqNmgyIG1 {
    padding-top: 0rem;
    padding-bottom: 0.9rem;
  }
}
.cid-srqNmgyIG1 .f-row {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 991px) {
  .cid-srqNmgyIG1 .flex-item {
    flex: 0 1 50%;
  }
}
@media (max-width: 990px) {
  .cid-srqNmgyIG1 .f-row {
    flex-direction: column;
  }
  .cid-srqNmgyIG1 .flex-item {
    flex: 1 1 100%;
  }
}
@media (max-width: 991px) {
  .cid-srqNmgyIG1 .image-wrapper {
    padding: 1rem;
  }
}
.cid-srqNmgyIG1 .text-wrapper {
  background-color: #4f2e53;
  padding: 6rem 1.5rem 1rem;
}
@media (min-width: 1200px) {
  .cid-srqNmgyIG1 .text-wrapper {
    padding: 8rem 3rem 2rem;
    margin: 1rem;
  }
}
.cid-srqNmgyIG1 .title {
  transform: translateY(8rem);
  padding: 1rem;
}
@media (max-width: 1200px) {
  .cid-srqNmgyIG1 .title {
    transform: translateY(7rem);
  }
}
@media (max-width: 1000px) {
  .cid-srqNmgyIG1 .title {
    transform: translateY(6rem);
  }
}
.cid-srqNmgyIG1 .mbr-section-title {
  color: #a478aa;
  text-align: left;
}
.cid-srqNmgyIG1 .mbr-text,
.cid-srqNmgyIG1 .mbr-section-btn {
  color: #ffd8db;
}
.cid-srqNmgyIG1 .z-100 {
  z-index: 100;
}
.cid-srqNmgyIG1 .mbr-text {
  text-align: left;
  color: #ffd8db;
}
.cid-srqNmY8cof {
  padding-top: 5rem;
  padding-bottom: 3rem;

  background-repeat: repeat;
  background-size: 30px 30px;
}
@media (max-width: 1000px) {
  .cid-srqNmY8cof {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .cid-srqNmY8cof {
    padding-top: 1.5rem;
    padding-bottom: 0.9rem;
  }
}
@media (min-width: 768px) {
  .cid-srqNmY8cof .text-wrapper {
    padding-left: 2.25rem;
  }
  .cid-srqNmY8cof .image-wrapper {
    padding-right: 2.25rem;
  }
}
@media (max-width: 768px) {
  .cid-srqNmY8cof .image-wrapper {
    padding-bottom: 2rem;
  }
}
.cid-srqNmY8cof .image-wrapper img {
  width: 80%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-srqNmY8cof .image-wrapper img {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .cid-srqNmY8cof .text-wrapper {
    padding-right: 2.25rem;
    padding-left: 0;
  }
  .cid-srqNmY8cof .image-wrapper {
    padding-left: 2.25rem;
    padding-right: 0;
  }
}
.cid-srqNmY8cof .row {
  flex-direction: row-reverse;
}
.cid-srqNmY8cof .mbr-text,
.cid-srqNmY8cof .mbr-section-btn {
  text-align: left;
}
.cid-srqNmY8cof .mbr-section-title DIV {
  text-align: left;
}
.cid-srqNmY8cof .mbr-section-title {
  text-align: left;
}
.cid-srqNr5q26Q {
  padding-top: 0rem;
  padding-bottom: 3rem;

  background-repeat: repeat;
  background-size: 30px 30px;
}
@media (max-width: 1000px) {
  .cid-srqNr5q26Q {
    padding-top: 0rem;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .cid-srqNr5q26Q {
    padding-top: 0rem;
    padding-bottom: 0.9rem;
  }
}
.cid-srqNr5q26Q .f-row {
  display: flex;
  justify-content: flex-start;
}
@media (min-width: 991px) {
  .cid-srqNr5q26Q .flex-item {
    flex: 0 1 50%;
  }
}
@media (max-width: 990px) {
  .cid-srqNr5q26Q .f-row {
    flex-direction: column;
  }
  .cid-srqNr5q26Q .flex-item {
    flex: 1 1 100%;
  }
}
@media (max-width: 991px) {
  .cid-srqNr5q26Q .image-wrapper {
    padding: 1rem;
  }
}
.cid-srqNr5q26Q .text-wrapper {
  background-color: #ffe885;
  padding: 6rem 1.5rem 1rem;
}
@media (min-width: 1200px) {
  .cid-srqNr5q26Q .text-wrapper {
    padding: 8rem 3rem 2rem;
    margin: 1rem;
  }
}
@media (max-width: 1000px) {
  .cid-srqNr5q26Q .text-wrapper {
    padding: 5rem 1.5rem 1rem;
  }
}
@media (max-width: 767px) {
  .cid-srqNr5q26Q .text-wrapper {
    padding: 4rem 1.5rem 1rem;
  }
}
.cid-srqNr5q26Q .title {
  transform: translateY(6rem);
  margin-left: 3rem;
}
@media (max-width: 1200px) {
  .cid-srqNr5q26Q .title {
    transform: translateY(5rem);
  }
}
@media (max-width: 767px) {
  .cid-srqNr5q26Q .title {
    transform: translateY(4rem);
    margin-left: 2rem;
  }
}
@media (max-width: 500px) {
  .cid-srqNr5q26Q .title {
    transform: translateY(3.5rem);
    margin-left: 1rem;
  }
}
.cid-srqNr5q26Q .mbr-section-title {
  color: #000000;
  text-align: left;
}
.cid-srqNr5q26Q .mbr-text,
.cid-srqNr5q26Q .mbr-section-btn {
  color: #ffd8db;
}
.cid-srqNr5q26Q .z-100 {
  z-index: 100;
}
.cid-srqNr5q26Q .mbr-text {
  text-align: left;
  color: #000000;
}
.cid-srqNq3VuLR {
  padding-top: 5rem;
  padding-bottom: 2rem;
 
  background-repeat: repeat;
  background-size: 30px 30px;
}
@media (max-width: 1000px) {
  .cid-srqNq3VuLR {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .cid-srqNq3VuLR {
    padding-top: 1.5rem;
    padding-bottom: 0.6rem;
  }
}
.cid-srqNq3VuLR .f-row {
  display: flex;
  align-items: center;
}
@media (max-width: 1000px) {
  .cid-srqNq3VuLR .f-row {
    flex-direction: column;
  }
}
.cid-srqNq3VuLR .f-item {
  flex: 1 1 50%;
}
@media (max-width: 1000px) {
  .cid-srqNq3VuLR .f-item {
    flex: 1 1 100%;
  }
}
.cid-srqNq3VuLR .text-wrapper {
  padding: 0 2rem;
}
@media (max-width: 1000px) {
  .cid-srqNq3VuLR .text-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-srqNq3VuLR .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-srqNq3VuLR .image-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 298px;
  height: 298px;
  border-radius: 50%;
  overflow: hidden;
}
@media (max-width: 500px) {
  .cid-srqNq3VuLR .image-circle {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 400px) {
  .cid-srqNq3VuLR .image-circle {
    width: 220px;
    height: 220px;
  }
}
.cid-srqNq3VuLR .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-srqNq3VuLR .f-row {
  flex-direction: row-reverse;
}
@media (max-width: 1000px) {
  .cid-srqNq3VuLR .f-row {
    flex-direction: column;
  }
}
.cid-srqNq3VuLR .mbr-text,
.cid-srqNq3VuLR .mbr-section-btn {
  text-align: left;
}
.cid-srqNq3VuLR .card-title {
  text-align: left;
}
.cid-srqNssQZD0 {
  padding-top: 6rem;
  padding-bottom: 3rem;

  background-repeat: repeat;
  background-size: 30px 30px;
}
@media (max-width: 1000px) {
  .cid-srqNssQZD0 {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .cid-srqNssQZD0 {
    padding-top: 1.8rem;
    padding-bottom: 0.9rem;
  }
}
.cid-srqNssQZD0 .mbr-overlay {
  background: #ffffff;
  opacity: 0.8;
}
.cid-srqNssQZD0 img,
.cid-srqNssQZD0 .item-img {
  width: 100%;
  height: 100%;
  height: 200px;
  object-fit: cover;
}
.cid-srqNssQZD0 .item:focus,
.cid-srqNssQZD0 span:focus {
  outline: none;
}
.cid-srqNssQZD0 .item {
  /*cursor: pointer;*/
  margin-bottom: 2rem;
}
.cid-srqNssQZD0 .mbr-section-btn {
  display: flex;
}
.cid-srqNssQZD0 .btn {
  position: relative;
}

.cid-srqNssQZD0 .btn:hover:after {
  opacity: 1;
}
.cid-srqNssQZD0 .btn:after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 100%;
  opacity: 0;
  transition: 0.3s;

}
.cid-srqNssQZD0 .item-wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-srqNssQZD0 .item-wrapper .item-content {
    padding-left: 2rem;
    padding-right: 1.5 rem;
  }
  .cid-srqNssQZD0 .item-wrapper .item-footer {
    padding: 0 2rem 0 1.75rem;
  }
}
@media (max-width: 991px) {
  .cid-srqNssQZD0 .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-srqNssQZD0 .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}

.cid-srqNssQZD0 .mbr-section-title {
  color: #232323;
}
.cid-srqNssQZD0 .mbr-text,
.cid-srqNssQZD0 .mbr-section-btn {
  text-align: left;
  color: #000000;
  padding-left: 0.35rem;
  padding-right: 2rem;
}
.cid-srqNssQZD0 .item-title {
  text-align: left;
}
.cid-srqNssQZD0 .item-subtitle {
  text-align: left;
  color: #000000;
}
.cid-srqNssQZD0 .item-img {
  overflow: hidden;
}
.cid-srqNssQZD0 .item-img img {
  transition: all 0.15s linear;
}
.cid-srqNssQZD0 .item:hover img {
  transform: scale(1.1);
}
.cid-srqNssQZD0 .mbr-section-subtitle {
  color: #232323;
}
.cid-srqNyk6WUH {
 
}
.cid-srqNyk6WUH .mbr-section-title {
  color: #ffffff;
}
.cid-srqNyk6WUH .mbr-text,
.cid-srqNyk6WUH .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-srqNufzvwK {
  padding-top: 3rem;
  padding-bottom: 3rem;

  background-repeat: repeat;
  background-size: 30px 30px;
}
@media (max-width: 1000px) {
  .cid-srqNufzvwK {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .cid-srqNufzvwK {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }
}
.cid-srqNufzvwK .f-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cid-srqNufzvwK .f-item {
  flex: 0 0 50%;
}
.cid-srqNufzvwK .f-60 {
  flex: 0 0 60%;
}
.cid-srqNufzvwK .f-40 {
  flex: 0 0 40%;
}
.cid-srqNufzvwK .mbr-text,
.cid-srqNufzvwK .mbr-section-btn {
  color: #232323;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-srqNufzvwK .mbr-text,
  .cid-srqNufzvwK .mbr-section-title {
    text-align: center;
  }
}
.cid-srqNufzvwK .title {
  margin-bottom: 3rem;
}
.cid-srqNufzvwK a.btn {
  height: 100%;
  margin: 0;
}
.cid-srqNufzvwK .mbr-section-btn {
  display: flex;
  margin-bottom: 1.2rem;
  width: 100%;
}
.cid-srqNufzvwK .mbr-section-btn .btn {
  width: 100%;
}
.cid-srqNufzvwK .info {
  padding: 3.25rem;
}
@media (max-width: 991px) {
  .cid-srqNufzvwK .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-srqNufzvwK .content-wrapper {
    flex-direction: column;
  }
  .cid-srqNufzvwK .info {
    padding: 1rem 0;
  }
}
.cid-srqNufzvwK .justify-content-center {
  align-items: center;
}
.cid-srqNufzvwK .f-item.features-image {
  background: #98dee8;
  padding: 0;
}
.cid-srqNufzvwK .item-content {
  padding: 3.25rem 3.25rem 2.25rem;
}
.cid-srqNufzvwK P {
  text-align: center;
}
.cid-srqNufzvwK H3 {
  text-align: left;
}
.cid-srqNufzvwK .mbr-title {
  text-align: left;
}
.cid-srqNufzvwK .mbr-text {
  text-align: left;
}
.cid-srqNufzvwK .mbr-text2 {
  text-align: left;
}
.cid-srqNw45Uic {
  /*padding-top: 3rem;*/
  padding-bottom: 2rem;
  background-color: #ffffff;
}
@media (max-width: 1000px) {
  .cid-srqNw45Uic {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .cid-srqNw45Uic {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }
}
.cid-srqNw45Uic .info ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .cid-srqNw45Uic .info ul {
    align-items: center;
    padding: 0;
    margin: 0;
  }
}
.cid-srqNw45Uic .info {
  padding: 0.25em 0;
}
@media (min-width: 769px) {
  .cid-srqNw45Uic .info {
    padding: 3.25rem 0;
  }
}
.cid-srqNw45Uic .info ul a {
  display: block;
}
.cid-srqNw45Uic .info ul li {
  list-style: none;
}
.cid-srqNw45Uic .nav-link {
  padding: 0;
  margin: 0;
}
.cid-srqNw45Uic .first-column .mbr-text,
.cid-srqNw45Uic .mbr-privacy,
.cid-srqNw45Uic .info {
  margin: 0;
}
.cid-srqNw45Uic .f-privacy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.cid-srqNw45Uic .mbr-privacy {
  margin-left: 1rem;
  text-align: left;
}
.cid-srqNw45Uic .mbr-privacy-link:hover,
.cid-srqNw45Uic .info-link:hover {
  text-decoration: underline;
}
.cid-srqNw45Uic .f-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-srqNw45Uic .f-row {
    flex-direction: column;
    align-items: center;
  }
}
.cid-srqNw45Uic .f-item {
  flex: 0 0 50%;
  padding: 0 1rem;
}
@media (max-width: 768px) {
  .cid-srqNw45Uic .f-item {
    flex: 1 1 auto;
    padding-bottom: 1rem;
  }
}
.cid-srqNw45Uic .icons-wrapper ul {
  display: flex;
  margin: 0;
  padding: 0;
}
@media (max-width: 400px) {
  .cid-srqNw45Uic .icons-wrapper ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cid-srqNw45Uic .icons-wrapper ul li {
    margin-bottom: 1.5rem;
  }
}
.cid-srqNw45Uic .icons-wrapper ul li {
  margin-right: 1.05rem;
  display: inline-block;
}
.cid-srqNw45Uic .icons-wrapper ul li .mbr-iconfont {
  padding: 8px;
  border-radius: 50%;
  color: #98dee8;
  background: #40b0bf;
  font-size: 1.5rem;
  transition: background 0.3s linear;
}
.cid-srqNw45Uic .icons-wrapper ul li .mbr-iconfont:hover {
  background: #2299aa;
}
.cid-srqNw45Uic .icons-wrapper ul li:last-child {
  margin-right: 0;
}
.cid-srqNw45Uic .col + .mbr-section-btn .btn,
.cid-srqNw45Uic .col-auto + .mbr-section-btn .btn {
  margin: 0 !important;
  height: 100%;
  border-radius: 0px !important;
  padding: 0 2.2rem !important;
}
.cid-srqNw45Uic .dragArea > *:nth-last-child(2).col,
.cid-srqNw45Uic .dragArea > *:nth-last-child(2).col-auto,
.cid-srqNw45Uic .col + .mbr-section-btn,
.cid-srqNw45Uic .col-auto + .mbr-section-btn {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
@media (max-width: 991px) {
  .cid-srqNw45Uic .first-column,
  .cid-srqNw45Uic .second-column {
    padding-bottom: 2rem;
  }
  .cid-srqNw45Uic .mbr-form .row {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .cid-srqNw45Uic .first-column,
  .cid-srqNw45Uic .second-column,
  .cid-srqNw45Uic .third-column {
    text-align: center;
  }
}
.cid-srqNw45Uic .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-srqNw45Uic .mbr-section-info,
.cid-srqNw45Uic .icons-wrapper {
  text-align: left;
}
.cid-srqNw45Uic .mbr-privacy,
.cid-srqNw45Uic .mbr-privacy-link {
  text-align: left;
}
